*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    background-image: url("triangles-1430105_1920.png");
    min-height: 100vh;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text_container{
color: white;
max-width: 900px;
margin: 0 auto;
padding-top: 64px;
padding-left: 16px;
font-family:  Roboto, sans-serif;
}
.lgt{
    font-size: 64px;
    font-weight: 300;
}
.black_box{
    background-color: black;
    padding: 20px;

}
.black_box h2{
font-size: 69px;
color: aliceblue;
text-align: center;
font-weight: 100;
}
.black_box h2 span{
    font-weight: 300;
    font-size:96px;
    color: red;
}
.work{
    margin: 24px;
    display: flex;
   padding: 12px;
   flex-wrap: wrap;
    justify-content: space-between;
}
.card img{
  width: 320px;
  height: 200px;
  padding: 12px;
  border-radius:12px;
  
}
.card{
    background-color: rgba(245, 250, 242, 0.79);
    border: 2px solid rgb(240, 229, 229);
    max-width: 320px;
    border-radius: 4px;
    /* border-radius: 12px; */
    
}
.card h3{
text-align: center;
font-size: 2rem;
text-transform: uppercase;
}
.content p{
    padding: 4px;
    margin: 5px;
    text-align: center;
    color: blue;
}



.ryt .links{
    display: flex;
    flex-direction: column;
    
}
.ryt .links a{
    text-decoration: none;
    /* color: rgb(11, 97, 235); */
    font-weight: 600;
    font-size: larger;
    
}
.ryt .links .insta{
    color: rgb(237, 143, 158);
}
.ryt .links .fb{
color: blue;
}
.ryt .links .yt{
color: hwb(0 0% 0%);
}
.foot{
    display: flex;
    padding: 13px;
}
.ryt{
width: 50%;
padding: 12px;
/* border:1px solid green; */
background-color: rgb(63, 178, 138);
}
.left{
    width: 50%;
    padding: 12px;
    /* border: 1px solid red; */
    background-color: aquamarine;
}
.foot-bottom{
    background: #000;
    color: aliceblue;
    padding: 4px;
    font-size: 16px;
    text-align: center;
}

@media  (max-width:986px) {
    .work{
        justify-content: center;
        gap:12px;
        margin: auto;
    }
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
        height: auto;
    }
    .lgt{
        font-size: 48px;
        font-weight: 300;

    }
    .ryt,.left{
        width: 100%;
    }
    .foot{
        flex-direction: column;
        margin: auto;
    }
}